In [3]:
import pandas as pd

df = pd.DataFrame(
    {
        'name': ['Alice', 'Bob', 'Charlie'],
        'age': [25, 30, 35],
        'city': ['New York', 'Los Angeles', 'Chicago']
    }
)

df

      name  age         city
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [5]:
# Convert DataFrame rows to list of dictionaries (documents)
documents = df.to_dict('records')

print("Documents in non-relational format:")
for doc in documents:
    print(doc)

Documents in non-relational format:
{'name': 'Alice', 'age': 25, 'city': 'New York'}
{'name': 'Bob', 'age': 30, 'city': 'Los Angeles'}
{'name': 'Charlie', 'age': 35, 'city': 'Chicago'}