# Set and Dictionary

### The `set`

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

You can also convert a list to a set:

In [2]:
my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
my_set.remove(4)
print(my_set)

{1, 2, 3, 5, 6}

Since sets are unoreded, we cannot index them. The following code will throw an error:

In [1]:
print(my_set[0])

NameError: name 'my_set' is not defined

In [ ]:
# or check if value exists
if 3 in my_set:
    print('yes')

yes

In [13]:
print(len(my_set))

5

Create a set of even numbers from 1 to 10 and a set of odd numbers from 1 to 10. Then, find the union and intersection of the two sets.

In [ ]:
even_numbers = {2, 4, 6, 8, 10}
odd_numbers = {1, 3, 5, 7, 9}

# Union of the two sets
union_of_sets = even_numbers | odd_numbers

# Intersection of the two sets
intersection_of_sets = even_numbers & odd_numbers

# Print the results
print(union_of_sets)
print(intersection_of_sets)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set()

Create a set of students in class A and a set of students in class B. Then, find the students who are in both classes and the students who are only in one class.

In [3]:
class_a = {"Alice", "Bob", "Carol"}
class_b = {"Bob", "Carol", "Dave"}

{'Bob', 'Carol'}

In [7]:
# Students in both classes
print(class_a & class_b)
print(class_a.intersection(class_b))

{'Bob', 'Carol'}

In [8]:
# Students in either classes
print(class_a | class_b)
class_a.union(class_b)

{'Bob', 'Carol'}

In [10]:
# Students only in class A
class_a - class_b

{'Alice'}

In [11]:
# Students only in class B
class_b - class_a

{'Dave'}

In [12]:
# Students in one class, but not both
class_a.symmetric_difference(class_b)

{'Alice', 'Dave'}

#### Exercise

Given the following two sets:

In [ ]:
student_ids = {101, 102, 103}
enrollment_ids = {101, 102, 104}

1. Find the elements that are present in both sets.
2. Find the elements that are only in the first set. 
3. Find the elements that are only in the second set.
4. Add an element to the first set and print it.
5. Remove an element from the second set and print it.
6. Check if a given element is present in the first set.
7. Find the length of the second set.

In [1]:
# try it

### The Dictionary

Dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have **keys** and **values**.

- As of Python version 3.7, dictionaries are ordered.
- In Python 3.6 and earlier, dictionaries are unordered.

In [15]:
# Create a dictionary
my_dictionary = {
    "name": "Alice",
    "age": 25,
    "courses": ["ICS-410", "MATH-422", "STAT-301"]
}
print(my_dictionary)

{'name': 'Alice', 'age': 25, 'courses': ['ICS-410', 'MATH-422', 'STAT-301']}

In [29]:
# Read
name = my_dictionary["name"]
print(name)

Alice

In [30]:
# Write
my_dictionary["age"] = 99
print(my_dictionary)

{'name': 'Alice', 'courses': ['ICS-410', 'MATH-422', 'STAT-301'], 'age': 99}

In [31]:
# Delete (free up memory)
del my_dictionary['age']

In [32]:
print(my_dictionary)

{'name': 'Alice', 'courses': ['ICS-410', 'MATH-422', 'STAT-301']}

#### Exercise

1. Create a dictionary to store information about a book (title, author, year published).
1. Read from the dictionary to print title and author.
1. Change the year published to 2030
1. Add a new key-value pair (publisher)
1. Delete the key-value pair (author)

In [2]:
# try it

### Iteration over keys and values

In [19]:
country_capitals = {
    "France": "Paris",
    "Germany": "Berlin",
    "United Kingdom": "London",
    "United States": "Washington, D.C.",
    "China": "Beijing"
}

In [20]:
# just keys
for country in country_capitals.keys():
    print(country)

France
Germany
United Kingdom
United States
China

In [21]:
# just values
for country in country_capitals.values():
    print(country)

Paris
Berlin
London
Washington, D.C.
Beijing

In [26]:
for country, capital in country_capitals.items():
    print(f"- The capital of {country} is {capital}")

- The capital of France is Paris
- The capital of Germany is Berlin
- The capital of United Kingdom is London
- The capital of United States is Washington, D.C.
- The capital of China is Beijing

### Examples of Usage

#### Exercise

Create a dictionary of words and their meanings:

- Then, loop over the dictionary keys and print them.
- Then, loop over the dictionary values and print them.
- Then, loop over the dictionary items (keys and values) and print them.

In [29]:
words_and_meaning = {
  "success": "the accomplishment of an aim or purpose",
  # Add your own words and definitions here ...
}

#### Exercise

Create a dictionary of fruits and prices:

- Add a new item to the dictionary: `bananas` with a price of `3.5`.
- Using the `update` method, add a new item to the dictionary: `apples` with a price of `4.5`.
- Using the `update` method, change the price of `bananas` to `5.5` and also add `hazelnuts` with a price of `12.5`
- Using the `pop` method, remove the item `bananas` from the dictionary.

In [20]:
fruits_and_prices = {
  "apple": 1.00,
  # Add your own fruits and prices here ...
}

In [21]:
new_prices = {
    # your code here ...
}
fruits_and_prices.update(new_prices)
print(fruits_and_prices)

{'apple': 2.5, 'banana': 0.5, 'orange': 0.75, 'hazelnut': 3.0}

Let's create a basket of purchases and calculate the total price of the basket by looping over the items in the basket, and looking up their price in the dictionary.

In [22]:
# Calculate the total price of a list of fruits
basket = ["apple", "banana", "orange", "orange", "orange"]

total_price = 0.0

for fruit in basket:
    price = fruits_and_prices[fruit]
    total_price += price

# Print the total price
print(f"The total price is {total_price}.")

The total price is 5.25.

#### Exercise

Print the value of key ‘history’ from the below dict

```py
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
```

# Tuples

In [32]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [33]:
a, b, c = tuple1
print(a)
print(b)
print(c)

apple
banana
cherry

Access elements of a tuple just like a list.

In [36]:
tuple1[0]

'apple'

### Immutable

The following code will throw an error:

In [35]:
tuple1[0] = "pear"

TypeError: 'tuple' object does not support item assignment

### Common Usage of Tuples

Functions **returning multiple values**.

In [ ]:

def calculate(num1, num2):
  sum = num1 + num2
  diff = num1 - num2
  return sum, diff

result_sum, result_diff = calculate(10, 5)
print(result_sum, result_diff)

15 5

#### Exercise

Write a function that takes 2 arguments, `a` and `b`, and returns the square and cube of of them.

In [ ]:
# try it

### Associated Lists (with `zip`)

Turn associated lists into a list of tuples:

In [1]:
students = ['John', 'Mary', 'Bob', 'Sara']
marks = [90, 80, 75, 85]

student_data = list(zip(students, marks))

print(student_data)

[('John', 90), ('Mary', 80), ('Bob', 75), ('Sara', 85)]

Turn associated lists into a dictionary:

In [2]:
student_data = dict(zip(students, marks))
print(student_data)

{'John': 90, 'Mary': 80, 'Bob': 75, 'Sara': 85}

### Lists, Dictionary, Sets, and Tuples

- List is ordered
- Set is unordered, and has unique elements
- Tuple is ordered, and immutable

In [ ]:
# List of strings with type hint
my_fruits: list[str] = ["apple", "banana", "orange"]

# List of mixed types (not recommended, but possible)
mixed_data: list = [10, "hello", True]

# Tuple of integers with type hint
product_dimensions: tuple[int, int, int] = (10, 20, 30)

# Set of unique colors with type hint
unique_colors: set[str] = {"red", "green", "blue"}

# Dictionary with string keys and integer values with type hint
customer_info: dict[str, int] = {"name": "John Doe", "age": 30}

In [1]:
fruits = ['Apple', 'Banana', 'Orange', 'Lemon']

In [2]:
fruits[0] # Apple
fruits[1] # Banana
fruits[4] # IndexError: list index out of range
fruits[-1] # Lemon
fruits[-2] # Orange
fruits[-5] # IndexError: list index out of range

fruits[1:3] # ['Banana', 'Orange']
fruits[:3] # ['Apple', 'Banana', 'Orange']

fruits[-3:-1] # ['Banana', 'Orange']
fruits[-3:] # ['Banana', 'Orange', 'Lemon']
fruits[:-1] # ['Apple', 'Banana', 'Orange']

'Apple'

In [3]:
fruits[1]

'Banana'

In [4]:
fruits[4]

IndexError: list index out of range

In [5]:
fruits[-1]

'Lemon'

In [9]:
my_2dlist = [[10, 20, 30], [100, 200, 300]]

In [15]:
my_2dlist[0][2] # 30

30