# Lists

Lists are ordered collections of objects.

Here are some commonly used list methods:

In [7]:
numbers = [10, 20, 30, 40, 50]

In [8]:
for n in numbers:
    print(n)

10
20
30
40
50

In [9]:
# Add item to end of list
numbers.append(6) 
numbers

[10, 20, 30, 40, 50, 6]

In [10]:
# Insert item at index 2 
numbers.insert(2, 7)
numbers

[10, 20, 7, 30, 40, 50, 6]

In [11]:
# Remove item by value
numbers.remove(30)
numbers

[10, 20, 7, 40, 50, 6]

In [12]:
# Pop item at index 3
numbers.pop(3) 
numbers

[10, 20, 7, 50, 6]

In [13]:
# Reverse list in place
numbers.reverse()
numbers

[6, 50, 7, 20, 10]

In [15]:

# Find index of item
numbers.index(20)

3

In [ ]:

# Check if item is in list
4 in numbers

In [ ]:

# Get sublist by slicing
numbers[1:3]

In [ ]:

# Concatenate two lists
numbers + [8, 9]

In [ ]:

# Get length of list  
len(numbers)

print(numbers)

In [ ]:
my_list = [10, 20, 30, 40, 50]

In [ ]:
my_list.append(10)
my_list.count(10)

7

In [ ]:
my_list = ["A", "B"]
my_list.append('C')
my_list

['A', 'B', 'C']

In [ ]:
my_list = ["Hello", "world"]
my_list.append("asdfasdf")
print(my_list)

['Hello', 'world', 'asdfasdf']

In [ ]:
my_list = [1, 2, 3]
my_list.extend([5, 6, 7])
my_list

[1, 2, 3, 5, 6, 7]

In [1]:
# extend
my_list = [1, 2, 3]
new_list = [4, 5, 6]
my_list.extend(new_list)
my_list

[1, 2, 3, 4, 5, 6]

In [ ]:
# concatenate lists with "+"
my_list = [1, 2, 3]
new_list = [4, 5, 6]
new_list = my_list + new_list
new_list

[1, 2, 3, 4, 5, 6]

In [ ]:
# try it

In [ ]:
# Insert the string "How" at index 1 in the list
my_list = ["Hello", "world"]
my_list.insert(1, "How")
print(my_list)

['Hello', 'How', 'world']

In [ ]:
my_list = ["Hello", "world", "!"]
my_list.pop()
print(my_list)

['Hello', 'world']

In [ ]:
my_list = ["Hello", "world", "!"]
idx = my_list.index("world")
idx

1

In [ ]:
del my_list

In [ ]:
my_list = ["Hello", "world", "!"]
last_element = my_list.pop()
print(last_element)
print(my_list) # notice the last_element is gone

!
['Hello', 'world']

In [ ]:
# Get the index of the first occurrence of the string "world" in the list
my_list = ["Hello", "world", "!"]
index = my_list.index("world")
print(index)

1

#### Exercise

Ex: Create a list of `fruits` with at least three elements.

In [ ]:
# try it

Ex:

- Add one more fruit using `append()`
- Add three more fruits using `extend()`
- Add 1 more fruit using `+`
- Find the length of the list using `len()`
- Check whether `banana` is in the list using `in`
- Check the index of `banana` using `index()`

In [5]:
# try it

### List of Numbers

With lists of numbers, we can use:

- `min()` to find the smallest number
- `max()` to find the largest number
- `sum()` to find the sum of all numbers

In [ ]:
my_list = [40, 30, 10, 20, 10]

print(min(my_list))
print(max(my_list))
print(sum(my_list))

10
40
110
22.0

#### Exercise

Calculate the average of a list of numbers.

In [ ]:
my_list = [40, 30, 10, 20, 10]
# try it

### Count values in a list

In [4]:
my_list = [10, 10, 10, 40, 50]
print(my_list.count(10))

3

## Sort: in-place vs. new list

In [ ]:
numbers = [10, 20, 50, 40, 30]

In [ ]:
# Sort list numerically (in-place)
numbers.sort()
numbers

[10, 20, 30, 40, 50]

In [ ]:
numbers.sort(reverse=True)
numbers

[50, 40, 30, 20, 10]

In [ ]:
old_list = [20, 10, 50, 40, 30]
new_list = sorted(old_list)
print(old_list)
print(new_list)

[20, 10, 50, 40, 30]
[10, 20, 30, 40, 50]

In [ ]:
my_list = [
    "1",
    "11",
    "2",
]
sorted(my_list)

['1', '11', '2']

In [ ]:
my_list = [
    1,
    11,
    2,
]
sorted(my_list)

[1, 2, 11]

### Indexing and Slicing

In [ ]:
# Access the first element of a list (indexing is 0-based)
first_element = my_list[0]

# Access the last element of a tuple
last_element = my_list[-1]

# Access the character at a specific index in a string
third_element = my_list[2]

In [ ]:
# Extract a subsequence from a list
sub_list = my_list[1:3]
print(sub_list)

[20, 30]

Slicing take: `[start:end:step]`. If we omit any of them, they will be set to their default values: `start=0`, `end=len(list)`, `step=1`.

In [ ]:
my_list[::2]

[10, 30, 50]

If we choose step size to a negative number. It starts at the end of the list and goes backwards.

In [ ]:
my_list[::-1]

[50, 40, 30, 20, 10]

#### Exercise

Considering the following list `my_list`:

- Can you find the largest element in the list?
- Can you find the smallest element in the list?
- What about the second largest and second smallest elements?

In [6]:
my_list = [6, 2, 9, 11, 3, 5, 1, 7]
# try it

### Heterogeneous Lists (mixed types)

Lists can hold any type of object.

They can even hold other lists!

In [ ]:
my_mixed_list = ["abc", 123, False, ['AABB', 'CC']]

In [ ]:
print(my_mixed_list[0])
print(my_mixed_list[1])
print(my_mixed_list[2])
print(my_mixed_list[3])

abc
123
False
['AABB', 'CC']

We can use the index again in the list obtained from the `my_mixed_list[3]`.

In [ ]:
print(my_mixed_list[3][0])

AABB

#### Exercise

Create a heterogeneous list with at least 5 elements. It must contain:

1. A string
1. An integer
1. A float
1. A boolean
1. A list

In [ ]:
# try it

### Iterating over sequences

In [ ]:
for x in my_list:
    print(x)

10
20
30
40
50

#### Exercise

- Create a list of your favorite movies, and assign it to a variable called `movies`.
- Iterate over `movies` (using `for`) and print each movie.

In [ ]:
# try it

#### Exercise

Consider the following list:

In [7]:
negative_words = ["sad", "angry", "frustrated", "disappointed", "terrible", "awful"]

Indexing:

- Print the second word in the list.
- Print the last word in the list.
- Print the third word from the end of the list.

In [ ]:
# try it

Slicing:

- Create a new list containing the first three words.
- Create a new list containing all words except the first and last.
- Create a new list containing every other word (starting with the first).

In [ ]:
# try it

Checking Indices:

- Check if "awful" is in the list and print the result.
- Check if the list contains "happy" and print the result.
- Find the index of "frustrated" in the list and print it.

Hints:

- You can use the `in` operator to check if a list contains a value.
- You can use the `index()` method to find the index of a value in a list.

In [ ]:
# try it

## Associated Lists

### Using `range()` and `len()`

You could've also just used range(len(students))

In [ ]:
students = ['John', 'Mary', 'Bob', 'Sara']
marks = [90, 80, 75, 85]

for i in range(len(students)):
  print(f"{i+1}. {students[i]} - {marks[i]}")

1. John - 90
2. Mary - 80
3. Bob - 75
4. Sara - 85

#### Exercise

- Create a list of numbers
- Loop through it using `range(len(my_list))`
    - multiply it by the previous number, only if the index is odd
    - add 10 to it if the index is even

### Using `enumerate()`

We use `enumerate()` to iterate over a list and have access to the index of each element.

In [ ]:
fruits = ['apple', 'banana', 'cherry']

for index, fruit in enumerate(fruits):
  print(index, fruit)

0 apple
1 banana
2 cherry

Using enumerate, we can iterate over two lists at the same time.

In [13]:
students = ['John', 'Mary', 'Bob', 'Sara']
marks = [90, 80, 75, 85]

for i, name in enumerate(students):
  print(f"{i+1}. {name} - {marks[i]}")

1. John - 90
2. Mary - 80
3. Bob - 75
4. Sara - 85

#### Exercise

- Create a list of fruits
- Loop through the list of fruits using `enumerate()` and add the word "fruit" to it

### Using `zip()`

In [17]:
students = ['John', 'Mary', 'Bob', 'Sara']
marks = [90, 80, 75, 85]

for student, mark in zip(students, marks):
  print(student, mark)

John 90
Mary 80
Bob 75
Sara 85

#### Exercise

Considering the following list:

- use `zip()` to create a new list with the sum of the elements of each list.
- use `zip()` to create a new list with the multiplication of the elements of each list.

In [18]:
l1 = [1, 2, 3]
l2 = [6, 5, 4]
# try it