# Python Classes and Objects

- Python is an object oriented programming (OOP) language. Meaning that almost everything in Python is an object
- Objects have: **properties** and **methods**
- A **Class** is a "blueprint" for creating objects

### Object initialization

- All classes have a function called `__init__()`, which is always executed when the class is being initiated.
- The `__init__()` method is also known as: **Constructor**

In [2]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [3]:
p1 = Person("John", 36)
p2 = Person("Adam", 25)

In [6]:
print(p1.name, p1.age)
print(p2.name, p2.age)

John 36
Adam 25

In [7]:
# read this as: instantiate an object of class Person
# passing arguments: 'Ahmad' and 19
p1 = Person('Ahmad', 19)

In [8]:
print(p1)

<__main__.Person object at 0x00000280B018AAD0>

In [7]:
# Two ways to check the type
print(type(p1))
print(isinstance(p1, Person))

<class '__main__.Person'>
True

In [8]:
type(14)

int

In [11]:
# access properties of an object
print(p1.name)
print(p1.age)

Ahmad
19

In [12]:
# modify property
p1.age = 42
print(p1.age)

42

In [9]:
print(p1)

<__main__.Person object at 0x000001BFA2C06390>

### Object string and representation

In [18]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f"{self.name} is {self.age} years old"

    def __repr__(self):
        return f"({self.name}, {self.age})"

In [19]:
p2 = Person("John", 36)

In [20]:
print(p2)

(John, 36)

The following invokes `__str__()` which provides the informal string representation of an object, aimed at the user.

In [16]:
print(p2)

John is 36 years old

The following invokes `__repr__()` which provides the official string representation of an object, aimed at the programmer.

In [17]:
p2

(John, 36)

### Methods

In [21]:
class Person:
    def __init__(self, name, rank):
        self.name = name
        self.rank = rank

    def promote(self, steps):
        self.rank += steps

In [22]:
p1 = Person("Ahmad", 10)
p2 = Person("Belal", 10)

In [23]:
p1.promote(5)

In [24]:
print(p1.rank)

15

In [25]:
p2.rank

10

#### Exercise (solved)

- Create a class called `Point2D`, use the `__init__()` function to assign values for `x` and `y`.
- Create a method `move()` which takes two parameters `dx` and `dy` and moves the point by adding `dx` to `x` and `dy` to `y`.
- Create a method called `distance()` which calculates the distance between two points.
- Create a method called `__repr__()` which returns the string representation of the object as: `(x, y)`.

In [57]:
class Point2D:

  def __init__(self, x, y):
    self.x = x
    self.y = y
    print(f"Point created at ({self.x}, {self.y})")

  def move(self, dx, dy):
    self.x += dx
    self.y += dy
  
  def distance(self, other):
    return ((self.x - other.x) **2 + (self.y - other.y) **2) **0.5
  
  def __repr__(self):
    return f"({self.x}, {self.y})"

In [58]:
p1 = Point2D(1, 2)
p2 = Point2D(5, 3)

Point created at (1, 2)
Point created at (5, 3)

In [59]:
p1

(1, 2)

In [60]:
p1.move(2, 1)

In [61]:
p1

(3, 3)

In [62]:
p1.distance(p2)

2.0

### Encapsulation: Setters and Getters

The goal of encapsulation with setters and getters is to control access to and manipulation of the variable.

In [26]:
class Person:
    def __init__(self, name, rank):
        self.name = name
        self.__rank = rank # the __ makes the variable private (not accessible from outside)

    def set_rank(self, new_rank):
        if new_rank < 10:
            self.__rank = new_rank
        else:
            self.__rank = 10
    
    def get_rank(self):
        return self.__rank

In [27]:
p1 = Person("Ahmad", 2)
p2 = Person("Belal", 1)

In [28]:
p1.set_rank(99999)

In [29]:
p1.get_rank()

10

In [35]:
p1.set_rank(9)

In [36]:
p1.get_rank()

9

Encapsulation means that we "protect" the variable from direct access:

- If we try to access `rank` or `__rank` directly we get an error.
- We can only access and modify through: `get_rank()` (the **getter**) and `set_rank()` (the **setter**).

In [12]:
# this will error!
print(p1.rank)

AttributeError: 'Person' object has no attribute 'rank'

In [13]:
# this will error!
p1.__rank

AttributeError: 'Person' object has no attribute '__rank'

In [14]:
p1.set_rank(7)

In [15]:
p1.get_rank()

7

### Exercise: Account Balance

Write class `Account` with property `balance` and encapsulated such that both `get_balance()` and `set_balance(value)` always `print` how much money is in the account.

In [37]:
class Account:
    def __init__(self, balance):
        self.__balance = balance
    
    def get_balance(self):
        # your code here...
        return self.__balance
    
    def set_balance(self, balance):
        # your code here...
        self.__balance = balance

In [38]:
a = Account(100.0)
a.get_balance()

100.0

In [39]:
a.set_balance(10000000)

In [40]:
a.get_balance()

10000000

### Destructor

In [43]:
class Person:
    # Construnctor Method
    def __init__(self, name):
        self.name = name

    # Destructor
    def __del__(self):
        print(f"{self.name} has been deleted.")

In [44]:
# instantiate then delete the object
p1 = Person("John Doe")
del p1

John Doe has been deleted.

# Operator Overloading

- What is: `[1, 2, 3] + [4, 5, 6]`? A student answered: element-wise addition. But it is actually **concatenation**.
- What is: `[1, 2, 3] * 5`? A student answered: scalar multiplication on each element. But it is actually **repetition**.
- This feature in Python that allows the same operator to have different meaning according to the context is called **operator overloading**

In [82]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [83]:
[1, 2, 3] * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

We can define our own behavior for operators by defining methods in our class:

- `__add__(self, other)` for `+`
- `__sub__(self, other)` for `-`

and so on.

In [64]:
class Vector:
    def __init__(self, x, y, z):
        self.x = x
        self.y = y
        self.z = z
    
    # + operator overloading
    def __add__(self, other):
        return Vector(self.x + other.x, self.y + other.y, self.z + other.z)

    def __repr__(self):
        return f"<{self.x}, {self.y}, {self.z}>"

v1 = Vector(1, 2, 3)
v2 = Vector(6, 5, 4)

In [65]:
v1 + v2

Let's look at a complete example of class `Vector`:

In [66]:
class Vector:
    def __init__(self, x, y, z):
        self.x = x
        self.y = y
        self.z = z

    def __repr__(self): # this is what is printed when you print the object
        return f"Vector({self.x}, {self.y}, {self.z})"

    # +
    def __add__(self, other):
        return Vector(self.x + other.x, self.y + other.y, self.z + other.z)

    # -
    def __sub__(self, other):
        return Vector(self.x - other.x, self.y - other.y, self.z - other.z)

    # *
    def __mul__(self, other):
        return Vector(self.x * other.x, self.y * other.y, self.z * other.z)

    # @
    def __matmul__(self, other):
        return self.x * other.x + self.y * other.y + self.z * other.z

    # []
    def __getitem__(self, idx):
        return [self.x, self.y, self.z][idx]

    # len()
    def __len__(self):
        return len(vars(self))

In [67]:
# Create two vectors.
u = Vector(1, 2, 3)
v = Vector(4, 5, 6)

In [68]:
print(u)
print(v)
print('---------')
print(u + v, 'addition')
print(u - v, 'subtraction')
print(u * v, 'multiplication')
print(u @ v, 'dot product')

Vector(1, 2, 3)
Vector(4, 5, 6)
---------
Vector(5, 7, 9) addition
Vector(-3, -3, -3) subtraction
Vector(4, 10, 18) multiplication
32 dot product

In [69]:
for c in v:
    print(c)

4
5
6

### (Optional) Exercise: n-dimensional Vector

Generalize the current 3D Vector class to be n-dimensional.

Hint: use `*args`.

In [ ]:
# your code here...

### (Optional) Quesiton: Matrix

Write a class for a Matrix.

Hint: You may want to reuse the Vector class.

In [60]:
# your code here...

Read more (optional) about operator overloading in this Article: https://mathspp.com/blog/pydonts/overloading-arithmetic-operators-with-dunder-methods

# Polymorphism

*Polymorphism* is the ability (in programming) to present the same interface for differing underlying forms (data types).

What makes `len()` work on many different types in Python? Polymorphism!

In [ ]:
my_list = [1,2,3]
my_set = {1,2,3,4,5}
my_dict = {'a': 1, 'b': 2, 'c': 3}
print(len(my_list))
print(len(my_set))
print(len(my_dict))

3
5
3

The word itself means "many forms", and it can be achieved in Python through **inheritance**, **overriding** and **duck typing**.

## Abstract Class

### Example 1: Animal

In [74]:
class Animal:
    def __init__(self, name, level):
        self.name = name
        self.level = level

    def speak(self):
        pass

class Dog(Animal):
    def speak(self):
        return f"Woof! " * self.level

class Cat(Animal):
    def speak(self):
        return f"Meow! " * self.level

class Dragon(Animal):
    def speak(self):
        return f"ROAR! " * self.level

In [75]:
# Create a list of animals
animals = [
    Dog("Barko", 3),
    Cat("Meme", 1),
    Dragon("Dogma", 2),
    Dragon("Darko", 4),
]

In [97]:
# Make each animal speak
for a in animals:
    print(f'{a.name} says: {a.speak().upper()}')

Barko says: WOOF! WOOF! WOOF!
Meme says: MEOW!
Dogma says: ROAR! ROAR!
Darko says: ROAR! ROAR! ROAR! ROAR!

### Example 2: Shape

In [76]:
class Shape:
    def area(self):
        pass
    
    def perimeter(self):
        pass


class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.14 * self.radius ** 2

    def perimeter(self):
        return 2 * 3.14 * self.radius


class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height
        
    def area(self):
        return self.width * self.height

    def perimeter(self):
        return 2 * (self.width + self.height)


class Triangle(Shape):
    def __init__(self, base, height, s1, s2, s3):
        self.base = base
        self.height = height
        self.s1 = s1
        self.s2 = s2
        self.s3 = s3
        
    def area(self):
        return (self.base * self.height) / 2

    def perimeter(self):
        return self.s1 + self.s2 + self.s3

In [77]:
shapes = [
    Circle(5),
    Circle(2),
    Rectangle(3, 4),
    Triangle(5, 1, 3, 4, 5)
]
for s in shapes:
    print(f'{s.area():.2f} , {s.perimeter():.2f}')

78.50 , 31.40
12.56 , 12.56
12.00 , 14.00
2.50 , 12.00

### Exercise: Vehicles

Consider the following superclass `Vehicle`, and the subclasses `Car` and `Truck`:

- Create class `Boat` that also implements `Vehicle`
- Create class `Plane` that also implements `Vehicle`

In [4]:
class Vehicle:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def move(self):
        print("Move!")

class Car:
    def __init__(self, brand, model):
        super().__init__(brand, model)

    def move(self):
        print("Drive!")


class Boat(Vehicle):
    # try it
    pass

class Plane(Vehicle):
    # try it
    pass

- Now, create a list of vehicles
- Loop over the list and call `move()` on each vehicle

In [ ]:
# try it
vehicles = [   ]

### Inheritance

The following demonstrate a chain of 3 objects: A `Manager` is an `Employee` which is a `Person`.

In [78]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def info(self):
        return f"{self.name} ({self.age} years old)"


class Employee(Person):
    def __init__(self, name, age, salary):
        super().__init__(name, age)
        self.salary = salary

    def info(self):
        return f"{self.name} ({self.age} years old) - ${self.salary:.2f} per year"


class Manager(Employee):
    def __init__(self, name, age, salary, team):
        super().__init__(name, age, salary)
        self.team = team

    def info(self):
        return f"{self.name} ({self.age} years old) - ${self.salary:.2f} per year - manages {len(self.team)} employees"

In [79]:
p = Person("John Smith", 30)
print(p.info())

John Smith (30 years old)

In [80]:
e = Employee("Jane Doe", 25, 50000)
print(e.info())

Jane Doe (25 years old) - $50000.00 per year

In [81]:
m = Manager("Alice Johnson", 35, 100000, ["Bob", "Charlie"])
print(m.info())

Alice Johnson (35 years old) - $100000.00 per year - manages 2 employees

### Exercise: Shoe is a Product

Create class `Shoe` and have it inherit from `Product` with:

- additional properties: `size`, `color`, and `type`
- `shoe.show()` shall call `super().show()` and extend it to print its additional properties as well.

In [ ]:
class Product:

    def __init__(self, pid, name, brand, price):
        self.pid = pid
        self.name = name
        self.brand = brand
        self.price = price

    def show(self):
        print("Product", self.pid)
        print("Details:-")
        print("Name:", self.name)
        print("Brand:", self.brand)
        print("Price:", self.price)


class Shoe(Product):
    # try it
    pass

Example Usage:

```python
product = Product(101, "Alphabounce", "Adidas", 5000)
product.show()
```


```
=== OUTPUT ===
Product 101
Details:-
Name: Alphabounce
Brand: Adidas
Price: 5000
```

```python
shoe = Shoe(101, "Ultraboost", "Adidas", 8000, 9, "Black", "Boost")
shoe.show()
```


```
=== OUTPUT ===
Product 101
Details:-
Name: Ultraboost
Brand: Adidas
Price: 8000
Size: 9
Color: Black
Type: Boost
```